%h1 
  My bank

.row
  .col-md-12
    %h2
      Number of Accounts: #{number_of_accounts}
    %h2 
      Number of Accounts: #{number_of_accounts}

.row
  .col-md-12
    = link_to bank_accounts_path do 
      Bank Accounts